body { background: #99f55b; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 45px; display: flex; }
.block-invoice-0 { color: #88079e; font-size: 14px; margin-bottom: 5px; }
.block-payment-1 { color: #ef2e8e; font-size: 18px; margin-bottom: 5px; }
.block-router-2 { color: #12f48c; font-size: 19px; margin-bottom: 5px; }
.block-cluster-3 { color: #56da4a; font-size: 21px; margin-bottom: 5px; }
.block-logger-4 { color: #3893af; font-size: 20px; margin-bottom: 5px; }
.block-cart-5 { color: #5d1f20; font-size: 15px; margin-bottom: 5px; }
.block-payment-6 { color: #deb80c; font-size: 17px; margin-bottom: 5px; }
.block-payment-7 { color: #7f59db; font-size: 18px; margin-bottom: 5px; }
.block-user-8 { color: #5f4a89; font-size: 20px; margin-bottom: 5px; }
.block-invoice-9 { color: #e25f1f; font-size: 16px; margin-bottom: 5px; }
.block-logger-10 { color: #ab7db8; font-size: 18px; margin-bottom: 5px; }